body{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  margin: 0;
}
.first ul {
    list-style-type: none;
    margin: 0;
    padding: 0 40mm;
    overflow: hidden;
    background-color: #f5f7fa;
    height:35px;
}

.first li {
    float: left;
}

.first li a {
    display: block;
    font-size: 12px;
    color: #506a85;
    font-style: none;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}
.second ul {
    list-style-type: none;
    margin: 0;
    padding-left: 4cm;
    padding-right: 4cm;
    height: 96px;
    overflow: hidden;
    background-color: white;
}

.second li {
    float: left;
}

.second li img {
    padding: 15px 0px;
}

.second li a {
    display: block;
    color: #506a85;
    font-size: 15px;
    font-weight: bold;
    font-style: none;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
}
#sectionA {
  color: #a3b1bf;
  text-align: center;
  font-family: 'Lato' ,sans-serif;

}
#sectionA h1{
  color: white;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 3px;
}
#sectionA p{
  font-size: 23px;
  line-height: 1.5;
  padding-left: 5cm;
  padding-right: 5cm;
  padding-bottom: 40px;
}
#bg-image {
  background-image: url("../img/main.gif");
  background-repeat: none;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 200px;
}

#sectionA button{
  background-color: #00bc9c;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 900;
  padding: 15px 60px;
  box-shadow: 0px 2px 0px #00a085;
}
#sectionB{
  height: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 5cm;
  padding-right: 5cm;
  color: #506a85;
}
#sectionB h1{
  font-size: 44px;
  font-family:'Lato', sans-serif;
  color: #506a85;
  font-weight: bold;
  text-align: center;
}
#sectionB h3{
    color: #506a85;
}
#sectionB p{
  font-size: 27px;
  color: #73879c;
}
 div.passion {
  width: 6.5cm;
  height: 170px;
  border: 1px solid white;
  margin: 1px;
  font-size: 14.5px;
  padding-left: 80px;
  padding-top: 35px;
  padding-right: 0px;
  text-align: left;
  color: #73879c;
}
div.passion>h2{
  color: #506a85;
}
#passiontext1 {
  position: absolute;
  left: 4cm;
  background-image: url("../img/bigicon1.gif");
  background-position: left;
  background-repeat: no-repeat;
  }

#passiontext2 {
  position: absolute;
  left: 40%;
  background-image: url("../img/bigicon2.gif");
  background-position: left;
  background-repeat: no-repeat;

}
#passiontext3 {
  position: absolute;
  left: 70%;
  background-image: url("../img/bigicon3.gif");
  background-position: left;
  background-repeat: no-repeat;
}
#sectionC{
background-color: #f2f5f7;
height: 950px;
padding-left: 5cm;
padding-right: 5cm;
padding-top: 100px;
padding-bottom: 100px;
color: #506a85;
}
#sectionC>h1{
  font-size: 40px;
}
#sectionC>p{
  color: #73879c;
  font-size: 20px;
  padding-bottom: 30px;
}
div.gallery1 {
    margin: 10px;
    border: 2px solid #e6e9ed;
    float: left;
    padding-bottom: 30px;
}

div.gallery1 img {
    height: auto;
}
div.legend {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
div.slegend{
  color: #73879c;
}
div.gallery2 {
    float: left;
}
div.gallery2>img {
    height: auto;
    margin: 10px;
    margin-top: 60px;
    margin-bottom: 50px;
}
div.cdots>a{
  height: 10px;
  width: 10px;
  background-color: #506a85;
  border-radius: 50%;
  display: inline-block;
}
div.cdots>a.active{
  background-color: #00bc9c;
}

#sectionD {
height: 350px;
padding-left: 7cm;
padding-right: 7cm;
padding-top: 100px;
padding-bottom: 100px;
}
#sectionD>h1{
  font-size: 44px;
  font-family:'Lato', sans-serif;
  color: #506a85;
  font-weight: bold;
  text-align: center;
}
#sectionD>p{
  font-size: 22px;
  color: #73879c;
  padding-bottom: 20px;
}
#sectionD button{
  background-color: #00bc9c;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900;
  padding: 15px 30px;
  box-shadow: 0px 2px 0px #00a085;
}
#sectionE{
  background-color: #2f4052;
  padding-left: 4cm;
  padding-right: 4cm;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 270px;
  text-align: left;
  font-size: 12px;
  color: #73879c;
}
#sectionE>div.end{
  margin: 10px;
  border: 2px solid #2f4052;
  width: 225px;
  height: 250px;
  float: left;
  padding-bottom: 30px;
}
#sectionE>div.end>h3{
  letter-spacing: 2px;
  color: white;
}
#sectionE>div.end>a{
  color: #73879c;
  text-decoration: none;
}
#sectionE>div.end>a.contact {
  font-size: 13px;
  font-weight: 900;
}
#sectionE>div.end>img.simg{
  margin: 2px;
}
#sectionE>div.end>form>input{
  width: 220px;
  color: #73879c;
  font-size: 12px;
  border-radius: 3px;
  background-color: #4e5c6c;
  border: none;
  padding: 10px 5px;
}
#sectionE>div.end>form>button{
  overflow: visible;
  position: relative;
  float: right;
  top: -30px;
  background-color: #00bc9c;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 900;
  padding: 5px 6px;
  box-shadow: 0px 2px 0px #00a085;
}
footer>ul{
  background-color: #283645;
  font-family: 'Source Sans Pro', sans-serif;
  color:#73879c;
  font-weight: 900;
  font-size: 12px;
  height: 70px;
  margin: 0;
  padding: 0 40mm;
  overflow: hidden;
  list-style-position: inside;
}
footer>ul>li{
  float: left;
  padding: 30px 10px;
}
footer>ul>li>a{
  text-decoration: none;
  color:#73879c;
}
li.nodot{
  list-style-type: none;
}
